*{
    margin: 0px;
    padding: 0px;
}
#sidebar{
    background-color: grey;
    height: 530px;
    width: 150px;
    position: fixed;
    left: -200px;
}
#sidebar ul li{
    list-style: none;
    padding-top: 50px;
    padding-left: 30px;
    font-size: 20px;
}
#sidebar {
    top: 0;
}
#sidebar a {
  text-decoration: none;
  color: inherit;
}

#home{
    color: rgb(6, 45, 117);
}
#container{
    display: flex;
}
#contents{
    padding-left: 30px;
    padding-top: 50px;
    margin-top: 50px;
    margin-left: 20px;
}
.role{
    color:rgb(6, 45, 117);
}
#cv, #cont{
    background-color:  rgb(6, 45, 117);
    color: white;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    margin: 6px;
}
#buttons button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
#pic{
    height: 530px;
    padding-right: 30px;
    position: static;
}
#main{
    display: flex;
    padding-left: 150px;
}
#menu-btn{
    font-size: 25px;
    position: fixed;
    top: 10px;
    left: 8px;
}
#sidebar.active {
    left: 0;
}
#sidebar {
    transition: left 1s ease;
}

#main {
    transition: padding-left 1s ease;
}

