#services-section {
    padding-left: 150px;
    padding-top: 60px;
    text-align: center;
}

.service-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.services-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.service-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-icon {
    font-size: 40px;
    margin-bottom: 20px;
    color: navy;
}

.service-card h3 {
    margin-bottom: 15px;
}

.service-card p {
    font-size: 15px;
    line-height: 1.6;
}
